* {
  margin: 0;
  padding: 0;
}
body, html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo .glitch {
  color: #cacaca;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 42px;
  position: relative;
  padding: 5px;
}
.logo .glitch:before, .logo .glitch:after {
  content: "onix26";
  color: #cacaca;
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 5px;
}
.logo .glitch:before {
  left: 3px;
  text-shadow: -5px 0 orange;
  animation: glitch-before 2s linear 0s infinite alternate;
}
.logo .glitch:after {
  left: -5px;
  text-shadow: -5px 0 green;
  animation: glitch-after 2s linear 0s infinite alternate;
}
@keyframes glitch-before {
  0% {
    clip: rect(3px, 350px, 43px, 30px);
  }
  5% {
    clip: rect(122px, 350px, 124px, 30px);
  }
  10% {
    clip: rect(49px, 350px, 116px, 30px);
  }
  15% {
    clip: rect(39px, 350px, 8px, 30px);
  }
  20% {
    clip: rect(119px, 350px, 35px, 30px);
  }
  25% {
    clip: rect(12px, 350px, 19px, 30px);
  }
  30% {
    clip: rect(4px, 350px, 107px, 30px);
  }
  35% {
    clip: rect(4px, 350px, 110px, 30px);
  }
  40% {
    clip: rect(53px, 350px, 110px, 30px);
  }
  45% {
    clip: rect(97px, 350px, 18px, 30px);
  }
  50% {
    clip: rect(123px, 350px, 23px, 30px);
  }
  55% {
    clip: rect(104px, 350px, 147px, 30px);
  }
  60% {
    clip: rect(80px, 350px, 109px, 30px);
  }
  65% {
    clip: rect(127px, 350px, 11px, 30px);
  }
  70% {
    clip: rect(74px, 350px, 142px, 30px);
  }
  75% {
    clip: rect(5px, 350px, 127px, 30px);
  }
  80% {
    clip: rect(34px, 350px, 50px, 30px);
  }
  85% {
    clip: rect(6px, 350px, 79px, 30px);
  }
  90% {
    clip: rect(29px, 350px, 148px, 30px);
  }
  95% {
    clip: rect(27px, 350px, 7px, 30px);
  }
  100% {
    clip: rect(77px, 350px, 129px, 30px);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(90px, 350px, 55px, 30px);
  }
  5% {
    clip: rect(114px, 350px, 112px, 30px);
  }
  10% {
    clip: rect(144px, 350px, 16px, 30px);
  }
  15% {
    clip: rect(103px, 350px, 44px, 30px);
  }
  20% {
    clip: rect(103px, 350px, 59px, 30px);
  }
  25% {
    clip: rect(23px, 350px, 45px, 30px);
  }
  30% {
    clip: rect(80px, 350px, 50px, 30px);
  }
  35% {
    clip: rect(61px, 350px, 143px, 30px);
  }
  40% {
    clip: rect(1px, 350px, 57px, 30px);
  }
  45% {
    clip: rect(89px, 350px, 60px, 30px);
  }
  50% {
    clip: rect(40px, 350px, 42px, 30px);
  }
  55% {
    clip: rect(150px, 350px, 17px, 30px);
  }
  60% {
    clip: rect(12px, 350px, 38px, 30px);
  }
  65% {
    clip: rect(88px, 350px, 101px, 30px);
  }
  70% {
    clip: rect(108px, 350px, 49px, 30px);
  }
  75% {
    clip: rect(32px, 350px, 46px, 30px);
  }
  80% {
    clip: rect(31px, 350px, 14px, 30px);
  }
  85% {
    clip: rect(84px, 350px, 94px, 30px);
  }
  90% {
    clip: rect(29px, 350px, 44px, 30px);
  }
  95% {
    clip: rect(134px, 350px, 128px, 30px);
  }
  100% {
    clip: rect(2px, 350px, 83px, 30px);
  }
}
