header{
	width: 100%;
	height: auto;
	background-image: url(../img/bg.jpg);
}
.header{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 20%;
}
.menu{
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 70%;
	height: auto;
	padding:1.5em 0;

	&-btn{
		display:none;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 0;
		top: -20px;
		border: 2px solid #000;
		border-radius: 4px;
		background-color: #fafafa;
		opacity: 0.6;
		outline: none;
	}
	&__item{
		display: block;
		list-style: none;
		vertical-align: middle;
		font-family: 'Marck Script', cursive;
		font-size: 1.5em;
		color: #fafafa;
		padding-left:20px;
		& a{
			color:inherit;
			&:hover{
				color:#00FFFF;
				text-decoration: none;
				border-bottom:2px solid #00FFFF;
				transition: all 0.5s linear;
			}
		}
	}
}


.m-mobile{
	display: none;
	&.active{
	/* 	display: block; */
	}
}



@media (max-width : 768px){


	body{
		font-size: 14px;
	}
	.menu{
		display: flex;
		flex-direction: column;
		text-align: right;
		margin-top: 2em;
		&-btn{
			display: block;
		}
		&__item{
			display: none;
		}
	}
	
}

.inner-block{
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner{
	color:#E0FFFF;
	text-align: center;
	font-family: 'Caveat', cursive;
	&__welcome{
		font-size: 2em;
	}
	&__title{
		font-weight: bold;
		font-size: 3.5em;
	}
	&__link{
		display: inline-block;
		padding: 15px ;
		background-color: #00FA9A;
		color: #fff;
		font-family: Arial , sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		border-radius:10px;
		border:3px solid #00FA9A;
		margin-top: 30px;
		&:hover{
			text-decoration: none;
			color: #00FA9A;
			background-color: transparent;
			border:3px solid #fff;
			transition: all 0.5s linear;
		}
	}
}

@media (max-width :560px){
	body{
		font-size: 12px;
	}
	.menu{

		/* &-btn{
			right: -50px;
		} */
	}
}